h1{
    text-align: center;
    color: azure;
    margin: 30px;
}
body{
    background-image: linear-gradient(darkblue,white);
   
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    border: solid black 2px;
    margin: 10px;
    width: 25vw;
    height: 60vh;
    background-image: linear-gradient(rgb(0, 238, 255),rgb(169, 255, 248))
}

.cards{
    padding: 30px;
    margin: 60px 50px 90px 50px;
    width: 90vw;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
     ;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    flex-wrap: nowrap;
    justify-content: space-around;
}

#text{
    height: 30px;
    width:190x;
    border-radius: 5px;
}
#text1{
    height: 30px;
    width:190x;
    border-radius: 5px;
}
#text2{
    height: 30px;
    width:190x;
    border-radius: 5px;
}

#button{
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(lightyellow,lightblue);
}
#button1{
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(lightyellow,lightblue);
}
#button2{
    border-radius: 10px;
    text-align: center;
    background-image: linear-gradient(lightyellow,lightblue);
}